@model ProfileSavedCoursesModel

<div class="title-btn">
    <h1>Saved Items</h1>
    <a asp-controller="Profile" asp-action="RemoveAllCourses" class="btn-delete"><i class="fa-solid fa-trash"></i> Delete all</a>
</div>
<div class="courses">

    @foreach (var course in Model.Courses)
    {
        <div class="course">
            <img src="@course.BackgroundImage" alt="course image">
            <div class="tags">

                @foreach (var tag in course.Tags)
                {
                    <p class="@tag!.ToLower()">@tag</p>
                }

            </div>
            <div class="bookmark-remove">
                <a asp-controller="Profile" asp-action="RemoveCourse" asp-route-courseId="@course.Id" class="bookmark"><i class="fa-solid fa-bookmark"></i></a>
                <p class="remove">@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Courses") ? "Bookmark" : "Remove")</p>
            </div>
            <div class="details">
                <h4>@course.CourseTitle</h4>
                <p class="author">By @course.Author</p>
                <h5 class="@(string.IsNullOrEmpty(course.OldPrice) ? "" : "sale")">@course.NewPrice <span>@course.OldPrice</span></h5>
                <div class="rating">
                    <p><i class="fa-regular fa-clock"></i> @course.Duration</p>
                    <p><i class="fa-regular fa-thumbs-up"></i> @course.LikesPercent (@course.Likes)</p>
                </div>
            </div>
        </div>
    }

</div>
