@model ProfileSavedCoursesModel

<div class="title-btn">
    <h1>Saved Items</h1>
    <a class="btn-delete"><i class="fa-solid fa-trash"></i> Delete all</a>
</div>
<div class="courses">

    @foreach (var course in Model.Courses)
    {
        <div class="course">
            <img src="@course.ImageUrl" alt="course image">
            <div class="bookmark-remove">
                <p class="bookmark"><i class="fa-solid fa-bookmark"></i></p>
                <p class="remove">Remove</p>
            </div>
            <div class="details">
                <h4>@course.Title</h4>
                <p class="author">By @course.Author</p>
                <h5>@course.Price</h5>
                <div class="rating">
                    <p><i class="fa-regular fa-clock"></i> @course.Duration</p>
                    <p><i class="fa-regular fa-thumbs-up"></i> @course.Rating</p>
                </div>
            </div>
        </div>
    }
</div>
