@model CoursesModel
@using System.Security.Claims
@inject ASPNetMVC.Helpers.IsCourseSaved Helper

<section id="courses">
    <div class="container">
        <div class="navigation">
            <a class="home" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home <i class="fa-solid fa-angles-right"></i></a>
            <a href="">Courses</a>
        </div>
        <div class="title">
            <h1>Courses</h1>
            <div class="input-fields">
                <select id="filter" class="input">
                    <option value="all categories">All categories</option>
                    <option value="best-seller">Best Seller</option>
                    <option value="digital">Digital</option>
                </select>
                <input id="search-input" class="input" type="text" placeholder="Search courses">
            </div>
        </div>
        <div class="courses">

            @* @for (int i = 0; i < 5; i++)
            {
            @foreach (var course in Model.Courses)
            {
            <div class="course">
            <img src="@course!.BackgroundImage" alt="course image">
            <div class="tags">

            @foreach (var tag in course!.Tags)
            {
            <p class="tag @tag.ToLower()">@tag</p>
            }

            </div>
            <div class="bookmark-remove">
            <a asp-controller="Courses" asp-action="SaveCourse" asp-route-courseId="@course.Id" class="@(await Helper.IsCourseSavedByUser(course.Id, User.FindFirstValue(ClaimTypes.NameIdentifier)!) ? "bookmark saved" : "bookmark")"><i class="fa-solid fa-bookmark"></i></a>
            <p class="remove">@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Courses") ? "Bookmark" : "Remove")</p>
            </div>
            <a class="course-link" asp asp-controller="Courses" asp-action="SingleCourse" asp-route-courseId="@course.Id">
            <div class ="details">
            <h4>@course.CourseTitle</h4>
            <p class="author">By @course.Author</p>
            <h5 class="@(string.IsNullOrEmpty(course.OldPrice) ? "" : "sale")">@course.NewPrice <span>@course.OldPrice</span></h5>
            <div class="rating">
            <p><i class="fa-regular fa-clock"></i> @course.Duration</p>
            <p><i class="fa-regular fa-thumbs-up"></i> @course.LikesPercent (@course.Likes)</p>
            </div>
            </div>
            </a>
            </div>
            }
            } *@

            @foreach (var course in Model.Courses)
            {
                <div class="course">
                    <img src="@course!.BackgroundImage" alt="course image">
                    <div class="tags">

                        @foreach (var tag in course!.Tags)
                        {
                            <p class="tag @tag.ToLower()">@tag</p>
                        }

                    </div>
                    <div class="bookmark-remove">
                        <a asp-controller="Courses" asp-action="SaveCourse" asp-route-courseId="@course.Id" class="@(await Helper.IsCourseSavedByUser(course.Id, User.FindFirstValue(ClaimTypes.NameIdentifier)!) ? "bookmark saved" : "bookmark")"><i class="fa-solid fa-bookmark"></i></a>
                        <p class="remove">@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Courses") ? "Bookmark" : "Remove")</p>
                    </div>
                    <a class="course-link" asp asp-controller="Courses" asp-action="SingleCourse" asp-route-courseId="@course.Id">
                        <div class="details">
                            <h4>@course.CourseTitle</h4>
                            <p class="author">By @course.Author</p>
                            <h5 class="@(string.IsNullOrEmpty(course.OldPrice) ? "" : "sale")">@course.NewPrice <span>@course.OldPrice</span></h5>
                            <div class="rating">
                                <p><i class="fa-regular fa-clock"></i> @course.Duration</p>
                                <p><i class="fa-regular fa-thumbs-up"></i> @course.LikesPercent (@course.Likes)</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>

        @if (Model.TotalCourses > 3)
        {
            <div class="buttons">

                @if (Model.Page > 1)
                {
                    int newPage = Model.Page - 1;
                    <a asp-controller="Courses" asp-action="Courses" asp-route-page="@newPage"><i class="fa-solid fa-angle-left"></i></a>
                }
                else
                {
                    <a><i class="fa-solid fa-angle-left"></i></a>
                }

                @for (int i = 1; i <= Math.Ceiling((double)Model.TotalCourses / 3); i++)
                {
                    <a class="@(i == Model.Page ? "current" : "")" asp-controller="Courses" asp-action="Courses" asp-route-page="@i">@i</a>
                }

                @if (Model.Page < Math.Ceiling((double)Model.TotalCourses / 3))
                {
                    int newPage = Model.Page + 1;
                    <a asp-controller="Courses" asp-action="Courses" asp-route-page="@newPage"><i class="fa-solid fa-angle-right"></i></a>
                }
                else
                {
                    <a><i class="fa-solid fa-angle-right"></i></a>
                }

            </div>
            <nav aria-label="Page navigation">

            </nav>
        }

        @* <div class="buttons">
        <button><i class="fa-solid fa-angle-left"></i></button>
        <button>1</button>
        <button class="current">2</button>
        <button>3</button>
        <button>4</button>
        <button><i class="fa-solid fa-angle-right"></i></button>
        </div> *@
        <div class="get-started">
            <div class="left">
                <h3>Ready to get started with us?</h3>
                <h1>Take Your <span>Skills</span> to the Next Level</h1>
                <a class="btn-theme-s">Work with us</a>
            </div>
            <img src="~/images/person-with-laptop.svg" alt="person with laptop">
        </div>
    </div>
</section>
<script src="~/js/SearchAndFilter.js"></script>
