@model ProfileIndexViewModel
@{
    ViewData["Title"] = $"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}'s profile";
    var isExternalAccount = Model.IsExternalAccount;
    ViewData["IsExternalAccount"] = isExternalAccount;
}

<section id="@Model.Id">
    <div class="container">
        <div class="profile">
            <div class="image">
                <img src="@Model.BasicInfo.ProfileImage" alt="">
                <i class="fa-solid fa-arrows-rotate"></i>
            </div>
            <div class="name-email">
                <h5>@Model.BasicInfo.FirstName @Model.BasicInfo.LastName</h5>
                <p>@Model.BasicInfo.Email</p>
            </div>
            <div class="menu">
                <a asp-controller="Profile" asp-action="Index" class="btn-white"><i class="fa-solid fa-gear"></i> Account Details</a>
                <a asp-controller="Profile" asp-action="Security" class="btn-white"><i class="fa-solid fa-lock"></i> Security</a>
                <a asp-controller="Profile" asp-action="SavedCourses" class="btn-white"><i class="fa-solid fa-bookmark"></i> Saved Courses</a>
                <a asp-controller="Account" asp-action="SignOut" class="btn-white"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
            </div>
        </div>
        <div class="details">
            @if (ViewContext.RouteData.Values["Action"]!.ToString() == "Index")
            {
                @await Html.PartialAsync("~/Views/Shared/Sections/_BasicInfoFormPartial.cshtml", Model.BasicInfo);
                @await Html.PartialAsync("~/Views/Shared/Sections/_AddressFormPartial.cshtml", Model.AddressInfo);
            }
            else if (ViewContext.RouteData.Values["Action"]!.ToString() == "Security" || ViewContext.RouteData.Values["Action"]!.ToString() == "SecurityError")
            {
                @await Html.PartialAsync("~/Views/Shared/Sections/_ProfileSecurityPartial.cshtml", Model.Security);
            }
            else if (ViewContext.RouteData.Values["Action"]!.ToString() == "SavedCourses")
            {
                @await Html.PartialAsync("~/Views/Shared/Sections/_ProfileSavedCoursesPartial.cshtml", Model.SavedCoursesModel)
            }
        </div>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")
